.row--modify--comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.commentModifyTextArea {
    text-align: justify;
    background-color: #F2E9E4;
    border: 3px solid #22223B;
    color: #22223B;
    width: 100%;
    margin: 15px 0px 10px 0px;
    padding: 12px;
    border-radius: 6px;
    height: 150px;
    box-sizing: border-box;
    transition-duration: 0.4s;
    font-size: 16px;
    resize: none;
}
.commentModifyTextArea:focus {
    height: 200px;
}
.comment--btn--modify {
    display: flex;
    justify-content: center;
}
/**************** Media Queries ****************/
@media screen and (max-width: 750px) {
    .row-modify {
      display: inherit;
      flex-direction: inherit;
      justify-content: inherit;
    }
    .commentModifyTextArea {
        height: 100px;
        font-size: 14px;
        margin: 0;
        margin-bottom: 20px;
    }
    .btn--home--user {
        padding: 10px 15px;
    }
  }