/**************** PROFILE ****************/
.profile--titre {
  margin: 0px 0px 25px 0px;
  color: #F2E9E4;
}
.row--profile {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.row--avatar--profile {
  display: flex;
}
.profile--col-15 {
  color: #F2E9E4;
  font-weight: bold;
  width: 15%;
}
.profile--col-75 {
  background-color: #22223B;
  border: 3px solid #F2E9E4;
  color: #F2E9E4;
  font-size: 17px;
  padding: 8px;
  border-radius: 6px;
  width: 60%;
  cursor: pointer;
}
.input--file {
  display: none;
}
.btn--download {
  background-color: #F2E9E4;
  border: 2px dashed #22223B;
  color: #22223B;
  padding: 8px 30px;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}
.btn--download:hover {
  background-color: #22223B;
  border: 2px dashed #F2E9E4;
  color: #F2E9E4;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn--upload {
  background-color: #22223B;
  border: 2px solid #F2E9E4;
  color: #F2E9E4;
  margin: 0px 30px 0px 30px;
  padding: 8px 30px;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}
.btn--upload:hover {
  background-color: #F2E9E4;
  border: 2px solid #22223B;
  color: #22223B;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn--modify {
  background-color: #22223B;
  border: 2px solid #F2E9E4;
  color: #F2E9E4;
  padding: 8px 30px;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}
.btn--modify:hover {
  background-color: #F2E9E4;
  border: 2px solid #22223B;
  color: #22223B;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
img.avatar--profile {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #F2E9E4;
  filter: drop-shadow(5px 10px 15px #22223B);
}
/* @media screen and (max-width: 750px) {
  .profile--container {

  }
} */